@import "settings";
@import "foundation";

.main {
	min-height: 320px;
}

ul.off-canvas-list 
{
	.childList {
		height: 100%; 
		padding: 17px 0px 6px 0px; 
		&:hover { border-right: 2px solid #30ceda; }
		overflow: auto;
	}
	
	 	
}

.childList {
	img {
		float: left;
		margin: 0 10px 0 0px;
		vertical-align:middle
	}
}

ul.off-canvas-list li a {
	padding: 0;
	margin-top: -5px; 
	&:hover {
		background: none; 
	}
}
ul.off-canvas-list li p {
	font-size: 10px;
	color: #888888; 
	margin-top: -5px;
}

h1.title img, .title-area h1 img {
	height: 30px;
	@media #{$medium-up} {
		height: 55px;
		margin-top: 6px;
	}
}

.tab-bar {
	border-bottom: 1px solid $lightGray;
	margin-bottom: 10px;
}

.top-bar .name h1 a {
	padding: 0;
}

.name {
	position: relative;
	z-index: 1000;
}
.name .category {
	display: inline-block;
	margin-left: 8px;

}

.move-right .exit-off-canvas{
	box-shadow: none;
}

.side-nav{
	margin-top: 10px;
}

.side-nav>li.issue-title {
	text-transform: uppercase;
}

.side-nav>li {
	padding: rem-calc(12);
}

.side-nav>li:hover{
	border-right: 2px solid $primary-color;
	background: $lightGray;
}

.side-nav>li a{

}

.side-nav-column {
	@media #{$medium-up} {
		@include grid-column(
			$collapse: true
		);
	};
} 

.main-column{
	@media #{$medium-up} {
		@include grid-column(
			$collapse: true
		);	
	}
}

.row.content {
	margin-left: 0;
	margin-right: 0;
}

article .article-text {
	@media #{$medium-up} {
		max-width: 600px;
		padding-left: 20px;
	}
}

article img.cover {
	margin-bottom: 20px;
}
article header {
	@media #{$medium-up} {
		padding-left: 20px

	}
}

.category{
	text-transform: uppercase;
	display: block;
	color: $primary-color;
	font-size: rem-calc(10);
}