@import "imports/settings";
@import "foundation";
@import "imports/footer/config";
@import "imports/footer/mixins";

@import "imports/header";
@import "imports/side-nav";
@import "imports/footer/footer";

@import "imports/footer/grid-simple";

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

.clearfix{
	clear: both;
}
.main {
	min-height: 320px;
}

.name {
	position: relative;
	z-index: 1000;
}
.name .category {
	display: inline-block;
	margin-left: 8px;

}


.main-column{
	@media #{$medium-up} {
		@include grid-column(
			$collapse: true
		);	
	}
}

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section ul li.active>a,
.top-bar-section ul li:hover>a
{
	border-bottom: 2px solid #ddd;
}

.content {
	margin-bottom: 30px;
}

article {
	padding-top: 10px;
	header {
		font-family: $header-font-family;
		@media #{$medium-up} {
			padding-left: 20px

		}
	}
	.article-text, .content-text {
		@media #{$medium-up} {
			padding-left: 20px;
		}
	}
	.content-text *{
		font-size: rem-calc(18);
	}

	img.cover {
		margin-bottom: 20px;
	}

}


.byline{
	font-size: rem-calc(14);
	line-height: 1;
	color: #666;
	font-style: italic;
}

.category{
	text-transform: uppercase;
	display: block;
	color: $primary-color;
	font-size: rem-calc(10);
} 