@import "imports/settings";
@import "foundation";
@import "imports/footer/config";
@import "imports/footer/mixins";

@import "imports/header";
@import "imports/side-nav";
@import "imports/off-canvas-nav";
@import "imports/footer/footer";

@import "imports/footer/grid-simple";


.clearfix{
	clear: both;
}
.main {
	min-height: 320px;
}

.name {
	position: relative;
	z-index: 1000;
}
.name .category {
	display: inline-block;
	margin-left: 8px;

}


.main-column{
	@media #{$medium-up} {
		@include grid-column(
			$collapse: true
		);	
	}
}

article {
	@media #{$medium-up} {
		padding-top: 20px;
	}
}

article .article-text, article .content-text {
	@media #{$medium-up} {
		max-width: 600px;
		padding-left: 20px;
	}
}

article img.cover {
	margin-bottom: 20px;
}
article header {
	@media #{$medium-up} {
		padding-left: 20px

	}
}

.category{
	text-transform: uppercase;
	display: block;
	color: $primary-color;
	font-size: rem-calc(10);
}