h1.title img, .title-area h1 img {
	height: 30px;
	@media #{$medium-up} {
		height: 45px;
		margin-top: 6px;
	}
}

.tab-bar, .nav-container {
	border-bottom: 1px solid $lightGray;
}

.tab-bar h1{
	text-align: center;
}
.top-bar .name h1 a {
	padding: 0;
}

.top-bar {
	@media #{$medium-up} {
		
	}
}