ul.off-canvas-list 
{
	.childList {
		height: 100%; 
		padding: 17px 0px 6px 0px; 
		&:hover, .active { border-right: 2px solid #30ceda; }
		overflow: auto;
	}	
}

ul.off-canvas-list li a {
	padding: 0;
	margin-top: -5px; 
	&:hover {
		background: none; 
	}
}
ul.off-canvas-list li p {
	font-size: 10px;
	color: #888888; 
	margin-top: -5px;
}

.move-right .exit-off-canvas{
	box-shadow: none;
}